{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pamine Live selling</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/styel.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/upload.css' %}">
    </head>
    <body>
        <div class="sign-up-form">
        <h1>Sign up Now </h1>
            <form id="form-container" method="POST" enctype="multipart/form-data">
                {% if messages %}
                <div style="display:block">
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                </div>
                {% endif %}
                {% csrf_token %}
                {{ account_form.email }}<br>{{account_form.email.errors}}
                {{ account_form.password }}<br>{{account_form.password.errors}}
                {{ account_form.first_name }}<br>{{account_form.first_name.errors}}
                {{ account_form.last_name }}<br>{{account_form.last_name.errors}}
                {{ account_form.phone }}<br>{{account_form.phone.errors}}
                {{ account_form.address }}<br>{{account_form.address.errors}}
                <label for="id">Choose Account type:</label>
                {{ account_form.account_type }}<br>{{account_form.account_type.errors}}
                <h3>Upload Valid ID </h3>
                <label for="id">Choose a Valid ID:</label>
                {{ account_form.id_options }}<br>{{account_form.id_options.errors}}
                {{ account_form.id_image }}<br>{{account_form.id_image.errors}}
                <button type="submit" class="sign-up-btn">Sign up</button>
                <p>Do you have an account?<a href="{% url 'login' %}">Sign in</a></p>
            </form>    
        </div>
    </body>
</html>